*, nav, footer{
  margin: 0;
  padding: 0;
}

.navbar {
  position: sticky;
  z-index: 10;
  top: 0;
  box-shadow: -1.4px -1.4px 6px 0 #97a2a0;
  display: flex;
  height: 84px;
  background: white;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px;
  &__list{
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    font-family: $font-family;
    font-size: 18px;
    & li {
      margin-left: 12px;
      border-radius: 8px;
      transition: background 0.5s;
      & a {
        text-decoration: none;
        color: black;
        padding: 12px 24px;
        display: block;
      }
      & .active, &:hover {
        background: $color-second;
      }
      &.active a, &:hover a {
        color:white
      }
    }
  }
}

.site-name a {
  font-family: Questrial;
  font-size: 36px;
  color: $color-primary;
  text-decoration: none;
}

.footer__top{
  background: #e8efee;
  padding: 40px 0px 40px 0px;
  color: color-primary-dark;
  & .wrapper{
    display: flex;
    justify-content: space-between;
    padding: 0px 106px
  }
  &__info div{
    font-family: $font-family;
    font-size: 14px;
    & + div {
      margin-top: 10px
    }
  }
}

.footer__site div {
  font-family: Questrial;
  font-size: 14px;
  text-align: right;
  & + div{
    margin-top: 10px
  }
}

.footer__bottom {
  color: white;
  background: $color-primary-dark;
  padding: 15px 0px;
  text-align: center;
  font-family: $font-family;
  font-size: 16px;
}

@media (max-width: 768px){
  .navbar {
    flex-direction: column;
    height: 108px;
    padding: 0px;
    justify-content: space-between;
    &__list{
      display: flex;
      width: 100%;
      padding: 0px;
      & li {
        flex: 1;
        margin-left: 0;
        border-radius: 0;
        text-align: center;
      }
    }
    &__site-name{
      margin-top: 12px;
    }
  }

  .footer__top .wrapper {
    flex-direction: column-reverse;
    padding: 0px 30px;
  }
  
  .footer__site div {
  font-family: Questrial;
  font-size: 14px;
  text-align: left;
}

  .footer__info div {
    margin-top: 15px;
  }

  .footer__bottom {
    padding: 12px
  }
}