@import url('./normalize.css');

a*, .debug {
  border: 0.3px solid gold;
}

*, h1{
  margin: 0;
  padding:0;
}

body {
  background: #272727
}

.wrapper {
  color:#F0F0F0	;
  max-width: 1000px;
  margin: 0 auto;
}

.wrapper h1 {
  font-size: 80px;
  justify-content: center;
  text-align: center;
  padding-top: 3%;
  padding-bottom: 20px;
  border-bottom: solid 3px #F0F0F0;
  font-family: "Helvetica", "Arial","LiHei Pro","黑體-繁","微軟正黑體", sans-serif;
}

.add_to_do {
  display:flex;
  margin: 40px 20px;
  justify-content: space-between;
}

.add_info {
  position:relative;
}

.add_checkbox {
  position: absolute;
  width: 50px;
  height: 50px;
  background: transparent;
  border-radius: 5px;
  border: 2px solid  #F0F0F0;
}

.submit_to_do {
  background: #272727;
  color:#F0F0F0;
  border: 0;
  font-size: 50px;
  margin-right: 20px;
  cursor: pointer;
}

.add_info input{
  width: 95%;
  font-size: 50px;
  background: #272727;
  color: #F0F0F0;
  border: 0;
  border-bottom: solid 1px #9D9D9D;
  margin-left: 120px;
}

.things_to_do {
  display: flex;
  margin: 40px 20px;
  position: relative;
  cursor: pointer;
  justify-content: space-between;
}

.check_box_content {
  display: block;
  position: relative;
  margin-left: 120px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 50px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: "Helvetica", "Arial","LiHei Pro","黑體-繁","微軟正黑體", sans-serif;
}


.to_do_checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.to_do_checkbox .checkbox__customize {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 50px;
  background: transparent;
  border-radius: 5px;
  border: 2px solid  #F0F0F0;
  transition: all 0.3s ease-out;
}

.to_do_checkbox input:checked ~ .checkbox__customize {
  background-color:#9D9D9D;
  border-radius: 5px;
  opacity:1;
  border: 2px solid #9D9D9D;
}

.to_do_checkbox .checkbox__customize::after {
  position: absolute;
  content: '';
  left: 12px;
  top: 12px;
  height: 0px;
  width: 0px;
  border-radius: 5px;
  border: solid #272727;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(0deg) scale(0);
  -ms-transform: rotate(0deg) scale(0);
  transform: rotate(0deg) scale(0);
  opacity:1;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}


.to_do_checkbox input:checked ~ .checkbox__customize::after {
  -webkit-transform: rotate(45deg) scale(1);
  -ms-transform: rotate(45deg) scale(1);
  transform: rotate(45deg) scale(1);
  opacity:1;
  left: 14px;
  top: 6px;
  width: 15px;
  height: 30px;
  border: solid #272727;
  border-width: 0 8px 8px 0;
  background-color: transparent;
  border-radius: 0;
}
  
.to_do_checkbox input:checked ~ .check_box_content {
  color:#9D9D9D;
  text-decoration: line-through;
}

.to_do_delete {
  cursor: pointer;
  font-size: 55px;
  margin: 0 20px;
  background: #272727;
  color: #F0F0F0;
  border: 0;
}

@media (max-width: 768px) {
  .wrapper h1 {
    font-size: 60px;
  }

  .check_box_content, .add_info input {
    margin-left: 50px;
    margin-bottom: 15px;
    font-size: 32px;
    width: 100%;
  }

  .to_do_checkbox .checkbox__customize, .add_checkbox{
    height: 30px;
    width: 30px;
  }

  .to_do_delete, .submit_to_do {
    padding-bottom: 20px;
    font-size: 35px;
  }

  .to_do_checkbox input:checked ~ .checkbox__customize::after{
    left: 6px;
    top: -1px;
    width: 10px;
    height: 20px;
    border-width: 0 8px 8px 0;
  }
}

@media (max-width: 375px) {
  .wrapper h1 {
    font-size: 50px;
    padding-bottom: 10px;
  }

  .check_box_content{
    margin-left: 40px;
    margin-bottom: 15px;
    font-size: 24px;
  }

  .add_info input {
    margin-left: 40px;
    margin-bottom: 15px;
    font-size: 24px;
    width: 70%;
  }

  .to_do_checkbox .checkbox__customize, .add_checkbox{
    height: 20px;
    width: 20px;
  }

  .to_do_delete,.submit_to_do {
    padding-bottom: 20px;
    font-size: 24px;
  }

  .to_do_checkbox input:checked ~ .checkbox__customize::after{
    left: 5px;
    top: 0px;
    width: 6px;
    height: 13px;
    border-width: 0 4px 4px 0;
  }
}