<div class='site-name'><a href='/'>Just A Bit!</a>
</div>
<ul class='navbar__list'>
  <li><a href='/lottery'>抽個大獎</a></li>
  <li><a href='/menu'>我要點餐</a></li>
  <li><a href='#'>查詢訂單</a></li>
  <li><a href='#FAQ'>常見問題</a></li>
</ul>