@import 'normalize';
@import "../base/_variable";
@import "../base/_mixin";
@import "../base/_component";
@import "../base/_layout";

.lottery {
  min-height: calc(100vh - 250px);
  background-image: url(../img/games-bn.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  padding: 3% 25%;
  &__box {
    height: 100%;
    background: white;
    border-radius: 16px;
    margin: 0 20%;
    & h2 {
      font-family: MicrosoftJhengHei;
      font-size: 24px;
      font-weight: bold;
      text-align: center;
      color: #5ec1b6;
      margin-top: 20px;
      padding: 10px 0;
    }
  }
  &__prize__list {
    margin: 18px 20px;
    & li {
      list-style:none
    }
  }
  &__info{
    margin: -5px 20px 18px;
    &__title {
      font-family: MicrosoftJhengHei;
      font-size: 18px;
      font-weight: bold;
      text-align: left;
      color: #322929;
      padding-top: 3px;
    }
    &__content{
      font-family: MicrosoftJhengHei;
      font-size: 16px;
      text-align: left;
      color: #322929;
      line-height: 1.63;
    }
    &__detail{
      margin: 15px 10px;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px dotted black;
    }
    &__modify{
      padding-top: 28px;
    }
  }
  &__result {
    text-align: center;
    padding-top: 150px;
    & h2{
      color: white;
      font-size: 40px;
      font-weight: bold;
    }
    & div {
      color: white;
      font-size: 24px;
      padding: 20px 0;
    }
  }
}

.faq__info{
  &__detail{
    padding: 5px 0;
    margin: 15px 10px;
    border-bottom: 1px dotted black;
  }
  &__modify{
    text-align: right;
  }
}

.prize__modify{
  padding-right: 20px;
  text-align: right;
}

.admin__list{
  margin: 0 auto;
  text-align: center;
  padding-top: 20px;
  width: 60%;
  & div {
    padding: 30px 0 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid $color-primary;
  }
  & a {
    text-decoration: none;
    color: $color-primary;
    font-size: 18px;
  }
}

.prize__modify-btn{
  text-decoration:none;
  text-align: center;
  font-family: MicrosoftJhengHei;
  font-size: 12px;
  background: #e62a45;
  color: white;
  border-radius: 8px;
  border: 0;
  cursor: pointer;
  padding: 3px 5px;
}

.total__percentage {
  margin: 0px 30px;
}

.login__info{
  margin: 0 15%;
}

.login_btn{
  width: 100%;
  text-align: center;
  font-family: MicrosoftJhengHei;
  font-size: 20px;
  background: #e62a45;
  color: white;
  border-radius: 8px;
  border: 0;
  cursor: pointer;
  padding: 5px 10px;
  margin: 20px 0;
}

.go__lottery {
  width: 80%;
  padding: 10px 0;
  margin: 2% 10%;
  font-family: MicrosoftJhengHei;
  font-size: 20px;
  background: #e62a45;
  color: white;
  border-radius: 8px;
  border: 0;
  cursor: pointer;
  transition: 0.2s;
  & a {
    color: white;
    text-decoration: none;
  }
}

.input__label{
  width: 98%;
  text-align: center;
  margin: 10px 0;
}

.input__field{
  width: 98%
}

.errorMessage{
  color: red;
  text-align: center;
  padding-bottom: 15px;
}

.total__percentage{
  padding-bottom: 20px;
}


.hide {
  display: none;
}