@import "../base/_mixin";
@import 'normalize';
@import "../base/_variable";
@import "../base/_component";
@import "../base/_layout";


*{
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
  &__menu{
    max-width: 1000px;
    margin: 0 auto;
  }
}

.banner {
  //@include banner(url(../img/2.png));
  position: relative;
  height: 500px;
  background: url(../img/2.png) center/cover no-repeat;
  & h1 {
    display: inline-block;
    position: relative;
    color: white;
    margin: 0;
    font-family: $font-family;
    font-size: 60px;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &:after {
    content: '';
    position: absolute;
    background: rgba(0,0,0,0.3);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  &__menu{
    background: url(../img/f-title.png) center/cover no-repeat;
    height: 250px;
  }
}

.section {
  text-align: center;
  &__title {
    display: inline-block;
    font-family: $font-family;
    font-size: 36px;
    font-weight: bold;
    border-left: solid 15px #a3dea2;
    padding-left: 16px;
    margin-top: 80px;
  }
  &__dec {
    font-family: $font-family;
    font-size: 16px;
    line-height: 2em;
    margin: 39px 0px 84px 0px;
    padding: 0px 12px;
  }
  &__images {
    justify-content: center;
    display: flex;
    flex-direction: row;
    padding-top: 36px;
    & div {
      width: 25%;
    }
    & img {
      width: 100%;
    }
  }
  & iframe {
    padding: 36px 0px 43px 0px;
    margin-left: 5%;
    margin-right: 5%;
  }
}

.intro{
  display: flex;
  justify-content: center;
  padding-top: 125px;
  &__img {
    background: url(../img/order-ad.png) center/cover no-repeat;
    height: 400px;
    width: 200px;
    padding-left: 100px;
  }
  &__detail{
    padding-left: 50px;
    padding-top: 150px;
    height: 400px;
    width: 1000px;
    &__title{
      color: $color-primary;
      font-size: 26px;
    }
    &__content{
      padding-top: 40px;
      font-size: 16px;
    }
  }
}

.button {
  display: inline-block;
  justify-content: center;
  font-family: $font-family;
  font-size: 36px;
  font-weight: bold;
  color: $color-primary-dark;
  padding: 60px 80px;
  border-radius: 10px;
  transition: transform 0.1s;
  &:hover{
    transform: scale(1.1); 
  }
}

.btn-order{
  background: #a8e8e1;
}

.btn-query{
  margin-left: 23px;
  background: #f9f9b5;
}

.menu {
  text-align: center;
  &__title{
    font-size: 18px;
    padding-bottom: 5px;
  }
  &__list{
    display: flex;
    padding-top: 80px;
    flex-wrap: wrap;
    &__item{
      padding-bottom: 80px;
    }
    &__item:not(:nth-child(3n-2)){
      padding-left: 50px;
    }
    &__img{
      height: 300px;
      width: 300px;
      background: black;
    }
    &__name{
      font-size: 18px;
      color: $color-primary-dark;
      padding: 15px 0; 
    }
    &__cart{
      background: $color-primary-light;
      padding: 15px 100px;
      border: 2px solid $color-primary-dark;
      margin-top: 15px;
      & a{
        text-decoration: none;
        color: $color-primary-dark;
      }
    }
  }
}

.comment {
  padding: 95px 15px 0px 15px;
  display: flex;
  justify-content: center;
  &__content {
    flex: 1;
    position: relative;
    max-width: 565px;
    max-height: 205px;
    padding: 70px 19px 39px 24px;
    border: #c7e5ec 1px solid;
    flex-wrap: wrap;
    border-radius: 5px;
    box-shadow: -1.4px -1.4px 4px 0 #d8eaef;
    &:not(:first-child) {
      margin-left: 16px;
    }
  }
  &__name{
    padding-bottom: 23px;
  }
  &__images{
    position: absolute;
    left: 50%;
    top: -56px;
    transform: translate(-50%, 0);
  }
}

.FAQ {
  margin-bottom: 40px;
  &__detail {
    max-width: 800px;
    margin: 0 25%;
    padding-bottom: 28px;
    border-bottom: 1px solid #a6e2c0;
    margin-top: 29px;
  }
  &__question {
    display: flex;
    cursor: pointer;
  }
  &__question-count{
    font-family: Questrial;
    font-size: 24px;
    color: $color-primary;
    font-weight: bold;
    padding-right: 16px;
  }
  &__question-content {
    font-family: $font-family;
    font-size: 18px;
    margin: auto 0;
  }
  &__answer {
    font-family: $font-family;
    font-size: 16px;
    max-width: 720px;
    text-align: left;
    padding-top: 20px;
    padding-left: 9%;
    line-height: 24px;
  }
}

.hide-content {
  display: none;
}


@media (max-width: 768px){


  .banner {
    height: 300px;
  }

  .btn-query{
    margin-left: 0;
    margin-top: 23px;
    background: #f9f9b5;
  }

  .section__images {
    display: flex;
    flex-direction: column;
    padding-top: 36px;
    & div{
      width: 100%;
    }
  }
  
  .comment {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    &__content{
      max-width: 100%;
      & + .comment__content{
        margin-top: 100px;
        margin-left: 0;
      }
    }
  }
}
